<!DOCTYPE html>
<html ng-app="produtoModule">
<head>
<meta-charset="UTF-8" ->
<title>Produto</title>
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<script src="js/angular.min.js"></script> <script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script> <script
	src="control/produtoControl.js"></script>
</head>
<body ng-controller="produtoControl">
	<div ng-include="'menu.html'"></div>
	<div class="panel panel-default">
		<div class="panel-heading">Cadastro de Produto</div>
		<div class="panel-body">
			<div>
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#cadastro"
						aria-controls="cadastro" role="tab" data-toggle="tab">Cadastro</a>
					</li>
					<li role="presentation"><a href="#dados" aria-controls="dados"
						role="tab" data-toggle="tab">Detalhes</a></li>
				</ul>
				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="cadastro">
						<br> 
						
						<span ng-repeat="mensagem in mensagens">{{mensagem}}<br></span>
						
						<br>
					
						<form class="form-horizontal">
							<div class="form-group">
								<div class="col-sm-2 control-label">
									<label class="col-sm-2 control-label" for="exampleInputCodigo">Código</label>
									<input type="number" disabled="true" class="form-control"
										ng-model="produto.codProduto" placeholder="Codigo">
								</div>
							</div>
							<hr />
							<div class="form-group">
								<div class="col-sm-2 control-label">
									<label class="col-sm-2 control-label" for="exampleInputNome">Nome</label>
									<input type="text" class="form-control" ng-model="produto.nome"
										placeholder="Nome">
								</div>
							</div>
							<hr />
							<div class="form-group">
								<div class="col-sm-2 control-label">
									<label class="col-sm-2 control-label" for="exampleInputPreco">Preço</label>
									<input type="text" class="form-control"
										ng-model="produto.preco" placeholder="Preço">
								</div>
							</div>
							<hr />
							<button type="button" class="btn btn-info" ng-click="novo();">Novo</button>
							<button type="submit" class="btn btn-default"
								ng-click="salvar();">Salvar</button>
							<button type="button" class="btn btn-danger"
								ng-click="excluir();">Excluir</button>

						</form>
					</div>
					<div role="tabpanel" class="tab-pane" id="dados">
						<br> <input type="text" class="form-control"
							ng-model="criterio" placeholder="Pesquisa" /><br>
						<table class="table table-hover">
							<th>Código</th>
							<th>Nome</th>
							<th>Preço</th>

							<tr ng-repeat="produtoTabela in produtos | filter:criterio"
								ng-click="seleciona(produtoTabela);">
								<td>{{produtoTabela.codProduto}}</td>
								<td>{{produtoTabela.nome}}</td>
								<td>{{produtoTabela.preco}}</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>